.user-item {
    margin: 1rem;
    width: calc(100% - 2rem);
    min-width: 20rem;
}

.user-item a {
    display: flex;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: white;
}

.user-item__content {
    background: #ff6f61;
    display: flex;
    align-items: center;
    width: 100%;
}

.user-item__image {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1rem;
    flex-shrink: 0;
}

.user-item__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-item__info h2 {
    margin: 0;
    font-size: 1.5rem;
}

.user-item__info h3 {
    margin: 0.5rem 0 0 0;
    font-size: 1rem;
    color: #f0f0f0;
}
