.users-list {
    list-style: none;
    margin: 2rem auto;
    padding: 0;
    width: 90%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}