.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  padding: 1rem;
  overflow: hidden;
  background:blanchedalmond
}

.card.user-item__content {
  background: #ff6f61;
  padding: 1rem;
}
