.place-list {
    list-style: none;
    margin: 2rem auto;
    padding: 0;
    width: 90%;
    max-width: var(--max-width);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 1.5rem;
}

.place-list.center {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 260px;
}

@media (max-width: 700px) {
    .place-list { grid-template-columns: 1fr; gap: 1rem; width: 95%; }
}
