.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.nav-links li {
    margin: 0.5rem 0;
}

.nav-links a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    padding: 0.5rem 0.75rem;
    border-radius: 8px;
    transition: background 0.15s, color 0.15s;
}

.nav-links a:hover,
.nav-links a:active {
    color: #fcbf1e;
}

@media (min-width: 768px) {
    .nav-links {
        flex-direction: row;
    }

    .nav-links li {
        margin: 0 1rem;
    }

    .nav-links a {
        font-size: 1rem;
    }
}

