main {
  min-height: calc(100vh - 60px);
  padding: 2rem 0;
}

.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main .container {
  padding: 0 1rem;
}

@media (max-width: 600px) {
  main {
    padding: 1.25rem 0;
  }
}
